<%# if current_user == @user %>
  <div class="container">
    <div class="home-space-top">
      <div class="row">
        <div class="col-md-3">
          <div class="center">
            <%= image_tag avatar_url(@user), class: "avatar-square-full" %>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Verification
            </div>
              <div class="panel-body">
                <ul class="sidebar-list">
                  <!-- confirmation_token does not work -->
                   <% if @user.email %>
                    <li>Email Address<span class="pull-right babu-icon"><i class="fa fa-check-circle-o"></i></span></li>
                  <% end %>
                  <% if @user.provider %>
                    <li>Facebook<span class="pull-right babu-icon"><i class="fa fa-check-circle-o"></i></span></li>
                  <% end %>
                  <% if @user.phone_verified %>
                    <li>Phone Number <span class="pull-right babu-icon"><i class="fa fa-check-circle-o"></i></span></li>
                  <% end %>
                </ul>
              </div>
          </div>
        </div>

        <div class="col-md-9">
          <h2><%= @user.fullname.capitalize %></h2>
          <div class="description row-space-3">
            <%= @user.description %>
          </div>

          <!-- same code on page -->
          <h4>Listings (<%= @rooms.length %>)</h4><br>

          <!-- using partial -> rooms/_rooms_list -->
          <div class="row">
            <%= render partial: "rooms/rooms_list", locals: { rooms: @rooms} %>
          </div>
          <br>

          <h4>Reviews From Guest (<%= @guest_reviews.count %>)</h4>
          <div class="row">
            <%= render "reviews/guest_list" %>
          </div>
          <br>

          <hr>
          <h4>Reviews From Host (<%= @host_reviews.count %>)</h4>
          <div class="row">
            <%= render "reviews/host_list" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<%# end %>

<!-- solve privacy in view and controller - alert and redirect to home -->
<!-- if user sign up with email -> confirmation_token was used; provider e.x.: FB, github -->
