<div class="container">
  <!-- <div class="home-space-top"> -->

    <div class="row">
      <div class="col-md-7 banner">
        <h1><span class="text-red">airOne</span> Book unique homes and experience a city like a local</h1>
      </div>
    </div>
    <!-- search form with datepicker (form_tag) once hit redirect to search page with more options -->
    <%= form_tag search_path, method: :get do %>
      <div class="row">
        <div class="col-md-6">
          <%= text_field_tag :search, params[:search], placeholder: "What's your destination?", class: "form-control", id: "autocomplete" %>
        </div>
        <div class="col-md-3">
          <%= text_field_tag :start_date, params[:start_date], autocomplete: :off, placeholder: "Check-in", class: "form-control datepicker" %>
        </div>
        <div class="col-md-3">
          <!-- prevent autocomplete date from the browser -> covered calender -->
          <%= text_field_tag :end_date, params[:end_date], autocomplete: :off, placeholder: "Check-out", class: "form-control datepicker" %>
        </div>
      </div>
      <br><br>

      <!-- submit button -->
      <div class="row">
        <div class="col-md-offset-4 col-md-4">
          <%= submit_tag "Search", class: "btn btn-search" %>
        </div>
      </div>
    <% end %>

    <br><br><br>

    <!-- HOMES -->
    <div><h3>Homes</h3></div>
    <br>

    <!-- show 4 active rooms on the page || partial -->
    <div class="row">
      <%= render partial: "rooms/rooms_list", locals: { rooms: @rooms} %>
    </div>

    <!-- CITIES -->
    <div><h3>Homes</h3></div>
    <br>

    <div class="row">
      <!-- for small devices 1 column -->
      <div class="col-md-3 col-sm-12">
        <a href="http://localhost:3000/search?utf8=%E2%9C%93&search=los+angeles">
          <!-- DO NOT use /assets/images/LA.jpg -->
          <div class="discovery-card" style="background-image: url('/assets/LA.jpg')"></div>
        </a>
      </div>
      <div class="col-md-3 col-sm-12">
        <a href="http://localhost:3000/search?utf8=%E2%9C%93&search=london%2C+britain">
          <div class="discovery-card" style="background-image: url('/assets/LD.jpg')"></div>
        </a>
      </div>
      <div class="col-md-3 col-sm-12">
        <a href="http://localhost:3000/search?utf8=%E2%9C%93&search=paris">
          <div class="discovery-card" style="background-image: url('/assets/PR.jpg')"></div>
        </a>
      </div>
      <div class="col-md-3 col-sm-12">
        <a href="http://localhost:3000/search?utf8=%E2%9C%93&search=miami">
          <div class="discovery-card" style="background-image: url('/assets/MI.jpg')"></div>
        </a>
      </div>
    </div>

  <!-- </div> -->
</div>

<!-- in reservation form datepicker -->
<!--   // $(function() {
  //   $("#autolocation").geocomplete();
  // }) -->
<script>

  $('#start_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);
    }
  });

  $('#end_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });
</script>

<!-- added autocomplete from google -->
<script>
  function autocompleteSearch() {
    var input = document.getElementById('autocomplete');
    var autocomplete = new google.maps.places.Autocomplete(input);
  }
</script>
<!-- show address in en for eu market -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_BROWSER_KEY']%>&libraries=places&language=en&region=EU&callback=autocompleteSearch" async defer>
</script>
