<div class="panel panel-default">
  <div class="panel-heading">
    <span><i class="fa fa-bolt" aria-hidden="true" style="color: #22e6c2"></i> €<%= @room.price %>
    </span>
    <span>Per Night</span>
  </div>

  <div class="panel-body">
    <%= form_for([@room, @room.reservations.new]) do |f| %>
    <div class="row">
      <div class="col-md-6">
        <label>Check-in</label>
        <%= f.text_field :start_date, readonly: true, placeholder: "Check-in", class: "form-control datepicker" %>
      </div>
      <div class="col-md-6">
        <label>Check-out</label>
        <%= f.text_field :end_date, readonly: true, placeholder: "Check-out", disabled: false, class: "form-control datepicker" %>
      </div>
    </div>

    <div id="preview" style="display: none">
      <table class="reservation-table">
        <tbody>
          <tr>
            <td>Price</td>
            <td class="text-align-right">€<%= @room.price %></td>
          </tr>
          <!-- 2nd row -->
           <tr>
            <td>Night(s)</td>
            <td class="text-align-right">x <span id="reservation_days"></span></td>
          </tr>
          <!-- 3rd row -->
           <tr>
            <td class="total">Total</td>
            <td class="text-align-right">€<span id="reservation_total"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
      <br>
      <%= f.submit "Book now", disabled: false, class: "btn btn-small btn-block" %>
    <% end %>

  </div>
</div>


<script>

  // check date with all unavailable dates
  function checkDate(date) {
    dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
      // takes date in given format and compare with every booked dates in the array
      // if matches return true ...
    return [$.inArray(dmy, unavailableDates) == -1];
  }

  $(function() {

  unavailableDates = [];
  // 1. create AJAX
    $.ajax({
      // get reservations from the server -> running preload method in room controller returned in JSON
      url: '<%= preload_room_path(@room) %>',
      dateTyp: 'json',
      success: function(data) {
        // console.log(data);
        $.each(data, function(arrID, arrValue) {
          // id: 2, user_id: 1, room_id: 1, start_date: "2019-04-30T00:00:00.000Z", end_date: "2019-05-05T00:00:00.000Z",
          // FROM OUR DB in JSON:
              // arrValue.start_date => 2019-04-30T00:00:00.000Z
              // new Date(arrValue.start_date) => Tue Apr 30 2019 02:00:00 GMT+0200 (Central European Summer Time)
          // FOR LOOP
          for(var i = new Date(arrValue.start_date); i <= new Date(arrValue.end_date); i.setDate(i.getDate() + 1)) {
          // ALL DATES (RESERVATIONS) BELONGS TO THAT ROOM OBJECT
            // console.log(i);
              // Tue Apr 30 2019 02:00:00 GMT+0200 (Central European Summer Time), Wed May 01 2019 ..., etc.
          // DISABLE ALL DATES IN THE calender -> new array and push it there
            unavailableDates.push($.datepicker.formatDate('d-m-yy', i));
          }
        });
        // console.log(unavailableDates);

        // disable dates already picked
        $("#reservation_start_date").datepicker({
          // for display => for 01-01-2019, above for calculation 1-1-19
          dateFormat: 'dd-mm-yy',
          minDate: 0,
          maxDate: '6m',
          beforeShowDay: checkDate
        });

        $("#reservation_end_date").datepicker({
          dateFormat: 'dd-mm-yy',
          minDate: 0,
          maxDate: '6m',
          beforeShowDay: checkDate
        });


      // end of success fce
      }

    // end of ajax
    });

  });

</script>
<!-- not good way to use hidden_field in form (solve it in server site), like:  -->
<!-- f.hidden_field :room_id, value: @room.id -->
<!-- f.hidden_field :price, value: @room.price -->
<!-- @room, @room.reservations.new -->
<!-- [@room, @reservation] -> room controller in show:  -->
<!-- @reservation = Reservation.new, @reservation.room_id = @room.id -->
<!-- form: -->
<!-- readonly: true ==> cannot fill the input just pick up from calender -->

<!-- in simple form -> is needed to use as:string for active record -->
<!-- console.log(data); (4) [{…}, {…}, {…}, {…}]
0:
created_at: "2019-04-29T15:45:27.555Z"
end_date: "2019-05-05T00:00:00.000Z"
id: 2
price: 99
room_id: 1
start_date: "2019-04-30T00:00:00.000Z"
total: 594
updated_at: "2019-04-29T15:45:27.555Z"
user_id: 1 -->
