<div class="container">
   <div class="row">
    <div class="col-md-3">
      <ul class="sidebar-list">
        <li class="sidebar-item"><%= link_to "Your Listings", rooms_path, class: "sidebar-link" %></li>
        <li class="sidebar-item"><%= link_to "Your Reservations", your_reservations_path, class: "sidebar-link" %></li>
        <li class="sidebar-item"><%= link_to "My Trips", your_trips_path, class: "sidebar-link active" %></li>
      </ul>
    </div>

    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          My Trips
        </div>
        <div class="panel-body">
          <!-- @current_user.reservations -->
          <% @trips.each do |mybooking| %>
            <div class="row">
              <!-- 1. col - display date -->
              <div class="col-md-2 font-smaller">
                <%= mybooking.start_date.strftime('%v') %>
              </div>
              <!-- 2. col - pic of room, cover_photo method -->
              <div class="col-md-2">
                <%= link_to room_path(mybooking.room) do %>
                  <%= image_tag mybooking.room.cover_photo(resize: '300x300>'), class: 'image-present' %>
                <% end %>
              </div>
              <!-- 3. col - name of visited room -->
              <div class="col-md-5">
               <%= link_to mybooking.room.listing_name, room_path(mybooking.room) %><br><br>
               <span class="">
                <!-- display avatar & link to owner profile NOT mine related with booking -->
                <%= link_to user_path(mybooking.room.user) do %>
                  <%= image_tag avatar_url(mybooking.room.user), class: 'avatar' %>
                  <%= mybooking.room.user.fullname %>
                <% end %>
               </span>
              </div>
              <div class="col-md-3 text-right">
                <%= render partial: "reviews/guest_form", locals: { reservation: mybooking } %>
              </div>

            </div>

            <!-- division for next room -->
            <hr>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 1. similar layout like in rooms index -->

