<% if !@rooms.blank? %>


<div class="container">
  <!-- SOLVE to show in calender more than 1 room with dropdown menu -->
  <div class="row">
    <!-- using ransack gem -->
    <%= search_form_for @search, class: 'form-group', url: host_calendar_path, remote: true do |f| %>

      <div class="col-md-6 select">
        <div class="form-group">
          <label>Your Flats</label>
          <!-- room_id select in the form - dropdown -->
          <%= f.select :room_id, options_for_select(@rooms.collect { |u| [u.listing_name, u.id]}, params[:room_id]), {}, {
            onchange: "$(this.form).submit()"
            # class: "form-control"
          } %>
        </div>
      </div>

    <!-- trigger this by function below -->
    <%= f.hidden_field :start_date, id: "start-date", value: params[:start_date], onchange: "$(this.form).submit()" %>

    <% end %>
  </div>

<% end %>
<!-- if not blank rooms -->

  <!-- added modal for special pricing -->
  <div id="form_modal">
    <%= render partial: 'form', locals: { room: @room } %>
  </div>

  <div id="calendar"></div>
</div>

<script>
  // create new var reservations in front with json data
  window.reservations = <%= raw @events.to_json %>
  window.days = <%= raw @days.to_json  %> //used in line 87 with grep method

  console.log(reservations);
  // console.log(days);

  function showReservations(data) {
    return data.map(function (e) {
      // Solve in DB booking ex. 15-05-2019 00:00:00
      // check if booking is not just 1 day
      if (e['start_date'] !== e['end_date']) {
        // if more than 1 day(night) -> add 1 day more
        // end date convert to UTC format for different timezones
          e['end_date'] = moment.utc(e['end_date']).add(1, 'days')
      }

      return {
        name: e.fullname,
        start: e['start_date'],
        end: e['end_date'],
        avatar: e.image,
        status: e.status
      }
    })
  }

  $('#calendar').fullCalendar({
    header: {
      left: 'title',
      center: '',
      right: 'prev,next'
    },
    defaultDate: $('#start-date').val(),
    events: showReservations(reservations),
    eventRender: function(event, element, view) {
      return $(`
        <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end">
          <div class="fc-content ${event.status}">
            <span class="fc-title">
              <img class="img-circle avatar-small" src="${event.avatar}"> ${event.name}
              </span>
          </div>
        </a>
      `);
    },
    // added price to calender field
    dayRender: function(date, cell) {
      // after create calendar controller to update cell
      // grep method -> pass collection days
      var dayInfo = $.grep(days, function(e) {
        // if date is equal to cell date
        return e.day === date.format();
      });

      <% if !@room.blank? %>
        // UPDATE cells after MODAL submit with changes
        if (dayInfo.length > 0) {
          console.log(dayInfo[0]);
          console.log(dayInfo[0].status);

          if (dayInfo[0].status === "Not_Available") {
            cell.addClass('fc-past');
          } else {
            cell.append('<span class="day-price">' + '€' + dayInfo[0].price + '</span>')
          }
        }
        else {
          cell.append('<span class="day-price">' + '€<%= @room.price %>' + '</span>')
        }
      <% end %>
    },

    selectable: true,
    select: function(start, end, jsEvent, view) {
      // stored in variable by clicking in Calender
      var start_date = moment(start);
      var end_date = moment(end).subtract(1, "days");

      // few things to consider:
      // console.log("Start = " + start_date.format("YYYY-MM-DD"));
      // console.log("End = " + end_date.format("YYYY-MM-DD"));
      // do not show calender where no bookings yet
      // not allowed to show calender for guest
      // not changed past dates, already booked
      // update datepicker inputs in modal
      <% if @rooms.blank? %>
        $('#calendar').fullCalendar('unselect');
      <% end %>

      // CHECK if overlap existing reservation
      // get all reservation from the calendar
      var overlap = reservations.filter(function(e) {
        var r_start_date = moment(e.start_date);
        var r_end_date = moment(e.end_date).subtract(1, "days");

        // compare start & end_date from reservations with those chosen above true if overlap --> length > 0
        return (r_start_date.isSameOrBefore(end_date) && r_end_date.isSameOrAfter(start_date))
        }).length > 0;

        // if start_date is BEFOR today -> moment() OR overlap (whole calender is not able selected)
        if (start.isBefore(moment()) || overlap) {
          $('#calendar').fullCalendar('unselect')
        }
        // otherwise open modal
        else {
          jQuery('#new_calendar').modal('show');

          // grab chosen start_date and put into datepicker input field -> in that format
          $('#calendar_start_date').datepicker({
            dateFormat: "yy-mm-dd",
            setDate: start_date
          });

          $('#calendar_start_date').val(start_date.format("YYYY-MM-DD"));

          $('#calender_end_date').datepicker({
            dateFormat: "yy-mm-dd",
            setDate: end_date
          });

          $('#calendar_end_date').val(end_date.format("YYYY-MM-DD"));
        }
    }

  });

  $('.fc-prev-button').click(function() {
    // start_date from hidden field
    var current = new Date($('#start-date').val());
    // console.log(current); Sat Jun 01 2019 02:00:00 GMT+0200 (Central European Summer Time)
    var prev = new Date(current.getFullYear(), current.getMonth() - 1, 1)
    // console.log(prev); Wed May 01 2019 00:00:00 GMT+0200 (Central European Summer Time)
    // as a start date we hit value of prev month with: id: "start-date", value: params[:start_date]
    $('#start-date').val(moment(prev).format('YYYY-MM-DD'))
    // trigger the submit button above -> hidden field => run and get data from controller
    $('#start-date').trigger('change')
  });

$('.fc-next-button').click(function() {
    var current = new Date($('#start-date').val());
    var next = new Date(current.getFullYear(), current.getMonth() + 1, 1)
    $('#start-date').val(moment(next).format('YYYY-MM-DD'))
    $('#start-date').trigger('change')
  });
</script>
