<!-- removed from SEARCH PAGE @arrRooms -> locals: { rooms: @arrRooms }-->
<% rooms.each do |room| %>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div>
        <%= link_to room_path(room)do %>
          <%= image_tag room.cover_photo(resize: '400x280!>'), class: 'image-present' %>
        <% end %>
      </div>
      <div class="panel-body">
        <%= link_to room.listing_name, room %><br>
        <!-- add info about flat -->
        €<%= room.price %> - <%= room.home_type %> - <%= pluralize(room.bed_room, "bed") %>
        <!-- review info into card - "AVERAGE STARS' + 'HOW MANY REVIEWS' has the room -->
        <div id="star_<%= room.id %>"></div> <%= pluralize(room.guest_reviews.count, "review") %>
      </div>
    </div>
  </div>

 <script>
    $('#star_<%= room.id %>').raty({
      // path to images of starts
      path: '/assets',
      // cannot change in show page stars
      readOnly: true,
      score: <%= room.avarage_rating %>
    });
  </script>

<% end %>

