<!-- /rooms/id/listing - sidebar with published button & all categories to launch flat -->
<ul class="sidebar-list">
  <div class="align-check-icon">
    <li class="sidebar-item">
      <%= link_to "Listing", listing_room_path, class: "sidebar-link active" %>
    </li>
      <span class="text-babu"><i class="fa fa-check"></i></span>
  </div>
  <!-- price -->
  <div class="align-check-icon">
    <li class="sidebar-item">
      <%= link_to "Pricing", pricing_room_path, class: "sidebar-link active" %>
    </li>
    <% unless @room.price.blank? %>
      <span class="text-babu"><i class="fa fa-check"></i></span>
    <% end %>
  </div>
  <!-- description -> enough one of them, rest take care form required:true -->
  <div class="align-check-icon">
    <li class="sidebar-item">
      <%= link_to "Description", description_room_path, class: "sidebar-link active" %>
    </li>
    <% unless @room.listing_name.blank? %>
      <span class="text-babu"><i class="fa fa-check"></i></span>
    <% end %>
  </div>
  <!-- pictures -->
  <div class="align-check-icon">
    <li class="sidebar-item">
      <%= link_to "Photos", photo_upload_room_path, class: "sidebar-link active" %>
    </li>
    <!-- different blank does not work for Active storage -->
    <% if @room.images.attached? %>
      <span class="text-babu"><i class="fa fa-check"></i></span>
    <% end %>
  </div>
  <!-- amenities -->
  <div class="align-check-icon">
    <li class="sidebar-item">
      <%= link_to "Amenities", amenities_room_path, class: "sidebar-link active" %>
    </li>
    <span class="text-babu"><i class="fa fa-check"></i></span>
  </div>
  <!-- location -> address -->
  <div class="align-check-icon">
    <li class="sidebar-item">
      <%= link_to "Location", location_room_path, class: "sidebar-link active" %>
    </li>
    <% unless @room.address.blank? %>
      <span class="text-babu"><i class="fa fa-check"></i></span>
    <% end %>
  </div>
</ul>

<!-- active default nil => is not active yet(published), not without price etc. -->
<!-- ready to display => make visible button => disabled = false -->
<% ready_to_display = !@room.active && !@room.price.blank? && !@room.listing_name.blank? && @room.images.attached? && !@room.address.blank? %>

<%= form_for @room do |f| %>
  <%= f.hidden_field :active, value: true %>
  <%= f.submit "Publish", id: "publish_button", class: "btn btn-publish btn-block", disabled: !ready_to_display %>
<% end %>
