<!-- default structure -->
<div class="container">

  <div class="row">
    <div class="col-md-3">
      <%= render 'room_menu' %>
    </div>
    <!-- second column -->
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          Location
        </div>

        <div class="panel-body">
          <!-- <div class="container"> -->
            <%= form_for @room do |f| %>

              <!-- <div class="row"> -->
                <div class="form-group">
                  <label>Address</label>
                  <%= f.text_field :address, placeholder: "What is your address?", class: "form-control", required: true, id: "autoaddress" %>
                </div>
              <!-- </div> -->

              <div class="text-center">
                <%= f.submit "Save", class: "btn btn-small" %>
              </div>

            <% end %>
          <!-- </div> -->

        </div>
      </div>
    </div>
</div>

<script>
  function autocompleteSearch() {
    var input = document.getElementById('autoaddress');
    var autocomplete = new google.maps.places.Autocomplete(input);
  }
</script>
<!-- show address in en for eu market -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_BROWSER_KEY']%>&libraries=places&language=en&region=EU&callback=autocompleteSearch" async defer>
</script>
