<!DOCTYPE html>
<html>
  <head>
    <title>AirOne</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- disabled case trouble in development unsecured data -->
      <%#= stylesheet_link_tag 'http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css' %>
    <%#= javascript_include_tag 'ratyrate.js', "data-turbolinks-track" => false %>
    <!-- makes problem to run dropdown menu, Google maps -->
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
      <%#= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <!-- <div class="container"> makes session error shorter-->
      <%= yield %>
    <!-- </div> -->
    <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
    <!-- from app/assets/javascripts/application.js -->
    <!-- , 'data-turbolinks-eval': false -->
    <%#= javascript_pack_tag "application" %>    <!-- from app/javascript/packs/application.js -->
  </body>
</html>
